* {
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 14px;
  font-family: Raleway, Helvetica-Neue, Helvetica;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;

  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}
