<template name="sidebar">
  <div class="sidebar">
    <form class="search-form">
      <input id="search-input" type="search" name="company-search" placeholder="Search...">
    </form>
    <ul class="company-list">
      {{#each companies}}
        {{> companyCell}}
      {{/each}}
    </ul>
  </div>
</template>

<template name="companyCell">
  <li id="{{name}}" class="company-cell">
    <div class="row align-middle-xs">
      <div class="col-xs-2">
        <img class="company-cell-image" src="/images/{{logo}}" alt="{{name}} logo">
      </div>
      <div class="col-xs">
        <h3 class="company-cell-name">{{name}}</h3>
      </div>
    </div>

    <p class="company-cell-description">
      {{description}}
    </p>
    <div class="col-xs" style="min-width: 0"></div>
    <p class="company-cell-address">
      <small> <i class="ion-location"></i> {{address.street}}, {{address.city}}, {{address.state}} {{address.zip}}</small>
    </p>

    <a class="company-cell-site" href="{{website}}" name="{{name}} website">
      <strong>VISIT SITE</strong>
      <i class="ion-android-arrow-forward"></i>
    </a>
  </li>
</template>
